/* Verborgen menu */
.menu {
    background-color: rgba(112, 138, 102, 0.92);

}

.menu ul li a:hover {
    color: #1d490b;
}

.back-home {
    color: #c5827b;
    margin-top: 25px;
    display: inline-block; /* Zorgt dat de margin werkt zoals verwacht bij inline-elementen */
    text-decoration: none;
    transition: transform 0.4s ease-in-out;
    font-size: 18px;
    padding: 0;
    margin: 0;
}

.back-home:hover {
    transform: scale(1.1);
}

.website-link {
    color: #c5827b;
    display: inline-block;
    text-decoration: none;
    font-weight: 800;
    transition: transform 0.4s ease-in-out;
}


.website-link:hover {
    transform: scale(1.1);
}