body {
    font-family: "Inter", arial, sans-serif;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: rgba(57, 70, 52, 0.92);
    padding: 20px;
    color: #c5827b;
    line-height: 1;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 20px;

    @media (min-width: 1024px) {
        display: grid;
        grid-template-columns: 3fr 1fr;
    }

    .contact-section-left {
        border: 1px solid;
        border-radius: 20px;
        background-color: #c5827b;
        color: rgba(57, 70, 52, 0.92);
        padding: 20px;
        min-width: 18em;

        @media (min-width: 1024px) {
            min-height: 30em;
        }
    }

    .contact-form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        border: 1px solid #c5827b;
        padding-bottom: 20px;

        .form-group {
            position: relative;
            margin-bottom: 20px;
        }

        input[type="text"]{
            width: 100%;
            padding: 8px 5px;
            border: none;
            border-bottom: 2px solid #000000;
            background: none;
            color: rgba(57, 70, 52, 0.92);
            padding-bottom: 20px;

            @media (min-width: 1024px){
                padding-bottom: 15px;
            }
        }
    
        input:focus {
            /* border-bottom-color: white; */
            outline: none;
        }

        label {
            position: absolute;
            top: 8px;
            left: 5px;
            font-size: 16px;
            color: rgba(57, 70, 52, 0.92);
            pointer-events: none;
            transition: 0.3s;
        }
    
        input:focus+label,
        input:not(:placeholder-shown)+label {
            top: -10px;
            font-size: 12px;
        }
    }

    .contact-form-checkbox {
        padding-bottom: 20px;

        fieldset {
            border: 1px solid rgba(57, 70, 52, 0.92);

            @media (min-width: 1024px) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 10px 20px;
                align-items: center;
                border: none;
            }
        }

        div {
            display: flex;
            align-items: center;
            gap: 8px;
        }

        @media (min-width: 1024px) {
            width: 30em;
        }

    }

    .contact-form-button {
        border: 1px solid rgba(57, 70, 52, 0.92);
        border-radius: 20px;
        height: 2em;
        width: 11em;
        text-align: center;
        align-content: center;
        background-color:rgba(57, 70, 52, 0.92);

        a {
            text-decoration: none;
            color: #c5827b;
        }
    }

    .contact-section-right {
        border: 1px solid rgba(57, 70, 52, 0.92);
        border-radius: 20px;
        padding: 20px;
        color: rgba(57, 70, 52, 0.92);
        background-color: white;
        min-width: 18em;

        @media (min-width: 1024px) {
            height: 30em; 
        }
    }
}