/* Hamburger Menu */
.hamburger {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: #ffe600;
    /* text-shadow: 3px -1px 2px #708A66; */
    cursor: pointer;
    z-index: 10;
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    /* Zorg dat het menu-icon bovenop de video staat */
}

/* Verborgen menu */
.menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(112, 138, 102, 0.92);
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
    z-index: 9;
    /* Onder het hamburger-menu */
    display: flex;
    flex-direction: column;
    justify-content: center;

    ul {
        list-style: none;
        padding-right: 50px;
        margin: 0;
        text-align: right;
    }

    ul li {
        margin: 20px 0;
    }

    ul li a {
        text-decoration: none;
        color: #ffe600;
        font-size: calc(1rem + 8vw);
        transition: color 0.3s;
    }
}

.menu.open {
    transform: translateX(0);
}

.menu ul li a:hover {
    color: #1d490b;
}