body {
    font-family: "Inter", arial, sans-serif;
    margin: 0 auto;
    padding: 0;
    background-color: black;
    padding: 20px;
    color: #ffe600;
    line-height: 1;
}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    filter: brightness(70%);
}

/* Hamburger Menu */
.hamburger {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: #ffe600;
    /* text-shadow: 3px -1px 2px #708A66; */
    cursor: pointer;
    z-index: 10;
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    /* Zorg dat het menu-icon bovenop de video staat */
}

/* Verborgen menu */
.menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(112, 138, 102, 0.92);
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
    z-index: 9;
    /* Onder het hamburger-menu */
    display: flex;
    flex-direction: column;
    justify-content: center;

    ul {
        list-style: none;
        padding-right: 50px;
        margin: 0;
        text-align: right;
    }

    ul li {
        margin: 20px 0;
    }

    ul li a {
        text-decoration: none;
        color: #ffe600;
        font-size: calc(1rem + 8vw);
        transition: color 0.3s;
    }
}

.menu.open {
    transform: translateX(0);
}

.menu ul li a:hover {
    color: #1d490b;
}


header {
    color: #ffe600;
    margin: 0;
    font-size: calc(1rem + 8.5vw);

    .title {
        text-align: left;
    }

    .profession {
        font-size: 18px;
        text-align: right;
        text-shadow: none;
    }

    /* .title, .profession{
        width: 100%;
    } */

}

.about-me-block {
    margin: 0;
    max-width: 80%;
    text-align: left;
    font-size: calc(1rem + 6vw);
}

.socials-block {
    max-width: 80%;

    h2 {
        font-size: calc(1rem + 6vw);
    }

    .socials {
        display: flex;

        @media (min-width: 1024px){
            svg{
                width: 80px;
                height: 80px;
            }
        }

        .instagram {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 10em;
            height: 10em;
            background: rgba(255, 255, 255, 0.26);
            border-radius: 20px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(3.7px);
            -webkit-backdrop-filter: blur(3.7px);
            margin-right: 20px;
            border: 1px solid #ffe600;
            transition: transform 0.3s ease-in-out;
        }

        .instagram:hover {
            transform: scale(1.1);
        }

        .linkedin {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 10em;
            height: 10em;
            background: rgba(255, 255, 255, 0.26);
            border-radius: 20px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(3.7px);
            -webkit-backdrop-filter: blur(3.7px);
            margin-right: 20px;
            border: 1px solid #ffe600;
            transition: transform 0.3s ease-in-out;
        }

        .linkedin:hover{
            transform: scale(1.1);
        }

        .github {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 10em;
            height: 10em;
            background: rgba(255, 255, 255, 0.26);
            border-radius: 20px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(3.7px);
            -webkit-backdrop-filter: blur(3.7px);
            border: 1px solid #ffe600;
            transition: transform 0.3s ease-in-out;
        }

        .github:hover{
            transform: scale(1.1);
        }
    }
}



/*.arrow{
    position: relative;
    bottom: -2rem;
    left: 50%;
    margin-left:-20px;
    width: 40px;
    height: 40px;
    padding-bottom: 5px;
}

.bounce{
    animation: bounce 2s infinite;
}*/

/* @keyframes bounce {
    0%, 20%, 50%, 80%, 100%{
        transform: translateY(0);
    }
    40%{
        transform: translateY(-30px);
    }
    60%{
        transform: translateY(-15px);
    }
} */



footer {
    color: #ffe600;
    padding-right: 50px;
    text-align: right;
    font-size: 16px;
}